* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{font-size: 12px}
 
  .container{
    display: grid;
    grid-template-columns: 5% 15% auto ;
    height: 100vh;
    width: 100%;
  }
 
  .sidebar{
    background-color: turquoise;
    width: 55px;
  }
 
  p{
    font-size: 1rem;
  }

  .logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    
  }

  .material-icons-outlined{
    display: flex;
    margin: 0;
    justify-content: center;
    padding: 1rem; 

  }

  /* .Icons{
    color: green;
  } */

  #settings{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
  }

  .Menubar{
   padding-left: 40px;

  }

  .group{
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 50px;
  }

  .menu-icons{
    display: flex;
    align-items: center;

  }



  .menu-icons .material-icons-outlined{
    padding: 0;

  }

  .menu-icons h4{
    padding-left: 10px;
  }

  .main{
    max-width: 768px;
    padding: 45px;
    
    

    
  }

  .main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .

 