@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
	body {
		font-size: 16px;
	  }
	
	  .container {
		margin: 20px;
	  }
	
	  .profile {
		display: grid;
		grid-template-columns: 1fr;
		/* grid-gap: 15px; */
	  }
	
	  /* You can add more specific styles for different elements as needed */
	}







@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/

	.profile .aside{
		grid-template-columns: 1fr;
		
	}



	.grid-col{
		grid-template-columns: 1fr;
	}
}



@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
	.profileContainer{
        background-color: #4b71a6;
        padding: 0 !important;
        margin: 0;
        height: 100vh !important;
        width: 100% !important;

      }

      .profile{
      
        scale: 0.8;
        padding: 0;
        padding: 0.1rem 0.1rem !important;
        width: 100% !important;
        height: 120vh !important;
        margin: 0;
      
      }
      .profile .header{
        margin-top: -1rem;
        margin-bottom: 1rem;

      }
      .aside{
        height: 100vh;
        width: 100%;
      }
      .profile .aside{
        /* margin-top: -2rem; */
        grid-template-columns: 1fr ;
        gap: 1rem;
        overflow-y: scroll; 
        height: 112vh;

      }
    
      .profile .aside .profile-control {
        height: 18vh;
      
      }

      .imageContainer .img-profile{
        scale: 0.9;
        margin-top: -4.8rem;
      }

      .iconDiv {
        bottom: -1rem;
        right: 8.8rem;
        scale: 0.6;
      }
  
      .profile .aside::-webkit-scrollbar {
        display: none;
      }
   
  
      .profile-control .profile-info{
      display: none;
        
      }
     .edit-profile {
        height: 100vh !important;
        padding: 0.1rem 1rem;
      }
     
      div.profile div.aside div.edit-profile form .grid-col{
        grid-template-columns: 1fr ;
      }
      div.profile div.aside div.edit-profile {
       padding: 0.1rem;
      }
  
      div.profile div.aside div.edit-profile form .grid-col .form-control label{
        transform: translateX(3%);
        padding: 0.4rem  0.2rem;
      }
     label{
        transform: translateX(-10%);
      }

       .contact{
        width: 100% !important;
        padding: 0.1rem 0.1rem !important;
      }
       
      .last-child{
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        gap: 0.8rem;
        width: 100% !important;
        font-size: 0.9rem !important;
      }

.span {
        top: 3rem;
        font-size: 1.1rem;
   
      }
    
    }



