* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{

  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #c8ddfa;
}


.profileContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.profile {
  max-width: 50rem;
  margin: 0 auto;
  background-color: turquoise;
  border-radius: 15px;
  padding: 1.2rem 1.7rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 1rem 2rem; 
}

.aside{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
  width: 100%;
  height: 94%;
  padding:1.1rem 0.2rem; 
  text-align: center;
  align-items: center;

}

.profile-control{  
 background-color: #0c3166;
  border-radius: 15px;
  padding: 1rem 0.2rem;
  /* position: relative; */
  color: white;

}

.imageContainer {
 padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-profile {
   
  position: relative;
 
}
.image {
  width: 6rem;
  height: 6em;
  border-radius: 50%;
  object-fit: cover;
}

.blueCircle {
  width: 50px;
  height: 50px;
  background-color: #27b4e4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconDiv {
  position: absolute;
  bottom: -9px;
  right: -5px;
  scale: 0.8;
  cursor: pointer;
}

.span {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
}


.edit-profile {
  height: 100%;
  background-color: #274063;
  border-radius: 15px;
  justify-content: center;
  align-items: flex-start;
}

.name{
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-radius: 0.5rem;
}

.fake-height{
  width: 100%;
}

.submit-update {
  width: 25%;
  height: 2.3rem;
  border-radius: 8px;
  background-color: #27b4e4;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  outline: none;
  margin-top: 10rem;
  cursor: pointer;  
}

.submit-update:hover {
  background-color: rgb(230, 230, 230);
  color: #27b4e4;
}

.trick-upload{
  width: 50%;
  height: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
