*{
    margin: 0;
    padding: 20; 
    box-sizing:border-box;
 }

 .form-container{
    height: 100vh;
    background-color: rgb(82, 82, 172);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }

 .card{
    background-color: rgb(15, 15, 73);
    max-width: 450px;
    border-radius: 0.8rem;
    padding: 50px;
 }

 .form-control{
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: 15px;
 }

 .button{
    width: 100%;

 }

 .signup{
    text-align: center;
    margin-top: 100px;
 }

 .signup a{
    text-decoration: none;
    color: white;
 }







 @media only screen and (max-width: 556px)  {
  
  

   
}


 
 