* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(204, 219, 182);
    gap: 2rem;
    font-size: 16px;
    line-height: 1.5;
    color: #778492;
    
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Lato', arial, sans-serif; */
    /* font-family: 'Montserrat', arial, sans-serif; */

}

.dark-mode {
    background-color: #3b3a3a;
    transition: background-color 0.3s, color 0.3s;
    color: inherit #333;
}

.dark-mode .social-icons{
    background-color: #3b3a3a;
}

.dark-mode .card{
    background-color: rgb(37, 36, 36);
    color: rgb(170, 169, 169);
}

.dark-mode .nav{
    background-color: rgb(37, 36, 36);
    color: white;
}

.dark-mode .findmore{
    background-color: rgb(65, 65, 250);
    color: white;
}

h3 h1{
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.2;
    color: #333;
}

.name h1{
    color: gray;
}

.heading{
    color: rgb(126, 120, 120);
}

p{
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
    color: #778492;
}


.unstyled-list{
    padding-left: 0;
    list-style: none;
}

.skills .item{
    margin-bottom: 15px;
}

span .title {
    color: rgb(21, 147, 197);
}
ul{
    margin-bottom: 1rem;
}

/* ul li a {
    color: #778492;
} */

a {
    text-decoration: none;
}

.nav img {
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    height: 150px;
}


.nav {
    background-color: #f5f5f5;
    margin-bottom: 40px;
    padding-bottom: 30px;
    height: 250px;
    padding: 30px 0;
    border-top: 10px solid #778492;
}

.nav-container {
    max-width: 72rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.name {
    color: rgb(75, 69, 69);
    font-size: 15px;
    margin-top: 2rem;
}

.info {
    display: flex;
    flex-direction: column;
    color: gray;
    gap: 1rem;

}

.imginfo {
    display: flex;
    gap: 2rem;
}


.social-icons {
    background-color: gray;
    font-size: 2rem;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.social-icons i {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
}

.socials {
    display: flex;
    align-items: center;
    gap: 1rem;


}

.toggle {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
}

.cont {
    display: flex;
    justify-content: space-between;
    background-color: rgb(7, 7, 165);
    color: white;
    border-radius: 0.2rem;
    height: 40px;
    font-size: 21px;
    width: 180px;
    text-align: center;
    padding: 0.5rem;
}

.about-section {
    max-width: 72rem;
    margin: 0 auto;

}

.about-container {
    display: flex;
    gap: 20px;
}

.about-left {
    width: 66.66%;

}

.about-right {
    width: 44.44%;
}

.card {
    background-color: white;
    border-radius: 0.3rem;
    padding: 2rem;
    margin-bottom: 30px;
    gap: 0.5rem;

}

.icon-text {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
}

.item {
    margin-bottom: 10px;
}



@media screen and (max-width:768px) {
    .nav-container{
        display: flex;
        flex-direction: column;
        
    }

    .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        text-align: center;
    }

    .imginfo{
        display: flex;
        flex-direction: column;
    }

    .about-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .card{
        width: 100vw;
    }
}