* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(203, 231, 160);
    gap:2rem;
}
img{
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    height:150px ;
}

nav{
    background-color: white;
    width: 100%wv;
    height: 100%vh;
    display: flex;
    justify-content: space-between;
}

.name{
    color: rgb(75, 69, 69);
    margin: 5px 30px;
    font-size: 25px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gray;
    gap: 1rem;
    float: left !important;
    
}

.imginfo {
    display: flex;
    gap: 5rem;
    padding: 5rem;

}

.contact{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 1.5rem;
    margin: 5rem;
}

.info .socials i{
    background-color: gray;
    font-size: 2rem;
    color: white;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    height:40px ;
    text-align: center;
   
}

.toggle{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cont{
    display: flex;
    justify-content: space-between;
    background-color: rgb(7, 7, 165);
    color: white;
    border-radius: 0.2rem;
    height: 40px;
    font-size: 21px;
    width: 180px;
    text-align: center;
    padding: 0.5rem;
}



.about-container{
    background-color: white;
    border-radius: 0.5rem;
    width: 60%;
    height: 50%;

}